<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns="http://www.springframework.org/schema/beans"
    xmlns:context="http://www.springframework.org/schema/context"
    xmlns:util="http://www.springframework.org/schema/util"
    xsi:schemaLocation="
     http://www.springframework.org/schema/beans
     http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
     http://www.springframework.org/schema/context
     http://www.springframework.org/schema/context/spring-context-3.1.xsd
     http://www.springframework.org/schema/util
     http://www.springframework.org/schema/util/spring-util-3.1.xsd">

    <!-- Enable Annotaition Configuration -->
    <context:annotation-config />

    <context:component-scan base-package="com.anjuke">
        <context:exclude-filter type="annotation"
            expression="org.springframework.stereotype.Controller" />
    </context:component-scan>

    <context:property-placeholder
        location="classpath:mss.properties,file://${mss.config}"
        ignore-resource-not-found="true" ignore-unresolvable="false" />

    <bean
        class="org.springframework.web.multipart.commons.CommonsMultipartResolver"
        id="multipartResolver">
        <property name="maxUploadSize" value="1000000000" />
    </bean>

    <import resource="apsContext.xml" />

    <bean id="RequestLogHandler"
         class="org.eclipse.jetty.server.handler.RequestLogHandler"/>
</beans>
